{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="container">
    <div>    
        <h1 class="h2 text-center mb-8">Nueva actividad en Desarrollo y Fortalecimiento Académico</h1>
        <br>
        <div class="request__container">
            <form class="form-bitacora"  action="" id="formBitacora" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="form-control col sm:col-1/2">
                        <p><label for="">Fecha y hora de inicio: </label></p>
                        <input class="form-field" name="hora_inicio" type="datetime-local" autofocus maxlength="80" required >
                        <br><br>
                        <p><label for="">Fecha y hora de termino: </label></p>
                        <input class="form-field" name="hora_final" type="datetime-local" required><br><br>
                        <p><label for="">Horas en total: </label></p>
                        <input class="form-field" name="horas_total" type="number" step="0.5" required><br><br>
                    </div>
                    <div class="form-control col sm:col-1/2">
                        <p><label for="">Actividad: </label></p>
                        <textarea class="form-field" name="actividad" type="text" cols="70" rows="5"></textarea>
                        <br><br>
                        <label for="archivo">Evidencia (si se requiere):</label><br>
                        <input  type="file" id="evidencia" name="evidencia"><br><br>
                        <select class="form-field" name="departamento" id="" hidden>
                            {% for i in departamentos %}
                            <option name="departamento" value="{{ i.id }}">{{ i.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <input class="form-field" name="usuario" type="text" readonly value="{{ user.id }}" placeholder="{{ user.username }}" hidden>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid form-control">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
<footer class="bottom">
    <div class="legal">
        <span>Universidad Juárez del Estado de Durango | Subsecretaría General Académica</span>
    </div>
</footer>

{%endblock%}