{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Bienvenido administrador {{ user.username }}</h1>
    <br>
    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">PI</h5>
                  <p class="card-text">Dirección de Planeacion Intitucional. Bitácora de actividades</p>
                  <a href="{% url 'adminplan' %}" class="btn btn-primary">→</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">SE</h5>
                  <p class="card-text">Dirección de Servicios Educativos. Bitácora de actividades</p>
                  <a href="{% url 'adminserv' %}" class="btn btn-primary">→</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DI</h5>
                  <p class="card-text">Dirección de internacionalización. Bitácora de actividades</p>
                  <a href="{% url 'adminint' %}" class="btn btn-primary">→</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DDFA</h5>
                  <p class="card-text">Dirección de Dessarrollo y Fortalecimiento Académico. Bitácora de actividades</p>
                  <a href="{% url 'admindes' %}" class="btn btn-primary">→</a>
                </div>
            </div>
        </div>
    </div>
</div>  

<br><br><br>

<nav class="navbar" style="background-color: #b3142c;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo-ujed.png' %}" alt="Bootstrap" width="100" height="60">
      </a>
    </div>
</nav>
<footer class="bottom">
    <div class="legal">
        <span>Universidad Juárez del Estado de Durango | Subsecretaria General Académica</span>
    </div>
</footer>


{% endblock %}