{% extends "layouts/main.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <br>
    <form action="" method="post" class="row justify-content-center">
        {% csrf_token %}
        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
                <h1 class="text-center">Mi bitácora SSGA</h1>
                {{ form | crispy }}
                <div class="d-grid">
                    <button class="btn btn-primary btn-sm" type="submit">Iniciar sesión</button>
                </div>
                <p class="text-center mt-3"><a href="{% url 'signup' %}">¡Crear tu cuenta!</a></p>
            </div>
        </div>
    </form>
    {{ error }}
</div>
{% include "layouts/footer.html" %}
{% endblock %}
