{% extends "layouts/main.html" %}

{% load static %}

{% block content %}


    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <form action="" method="post">
            {% csrf_token %}
            
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                  <h1>Mi Bitacora SSGA</h1>
        
                {{ form | crispy }}

                <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
                <a href="{% url 'signup' %}">Registrarme</a>
              </div>
            </div>
        </form>
        {{ error }}
    </div>

{% include "layouts/footer.html" %}

{% endblock %}