{% extends "layouts/main.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Bienvenido a tu perfil</h2>
    <p>{{ user.username }}</p>
</div>
<div class="container">
    <h1>Mi bitácora</h1>
    <br><br>
    <table class="table table-striped" border="1">
      <thead>
        <tr class="table-primary">
          <th>Fecha</th>
          <th>Hora inicio</th>
          <th>Hora final</th>
          <th>Total</th>
          <th>Actividad</th>
          <th>Autorización</th>
          <th>Observacion</th>
        </tr>
      </thead>
      <tbody>
        {% for i in records %}
          <tr>
            <td>{{ i.fecha }}</td>
            <td>{{ i.hora_inicio }}</td>
            <td>{{ i.hora_final }}</td>
            <td>{{ i.horas_total }} hrs.</td>
            <td>{{ i.actividad }}</td>
            <td>
              {% if i.autorizacion == True %}
                Autorizado
              {% else %}
                No autorizado
              {% endif %}
            </td>
            <td>{{ i.observacion }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <br><br>

{% endblock %}