{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h3>Bienvenido(a) {{ user.first_name }} {{ user.last_name }}</h3><br/>
    <br>
    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DPI</h5>
                  <p class="card-text">Dirección de Planeacion Intitucional. Actividades</p>
                  <div class="d-grid  gap-2">
                      <a href="{% url 'addplan' %}" class="btn btn-primary">＋</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DSE</h5>
                  <p class="card-text">Dirección de Servicios Educativos. Actividades</p>
                  <div class="d-grid gap-2">
                      <a href="{% url 'addserv' %}" class="btn btn-primary">＋</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DI</h5>
                  <p class="card-text">Dirección de Movilidad. Actividades</p>
                  <div class="d-grid gap-2">
                      <a href="{% url 'addint' %}" class="btn btn-primary">＋</a>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DDFA</h5>
                  <p class="card-text">Dirección de Dessarrollo y Fortalecimiento Académico. Actividades</p>
                  <div class="d-grid gap-2">
                      <a href="{% url 'adddes' %}" class="btn btn-primary">＋</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">SSGA</h5>
                  <p class="card-text">Subsecretaria General Académica. Crear nuevas actividades.</p>
                  <div class="d-grid gap-2">
                      <a href="{% url 'addsub' %}" class="btn btn-primary">＋</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">Nota</h5>
                  <p class="card-text">Selecciona tu Dirección correspondiente y agrega una nueva actividad.</p>
                </div>
            </div>
        </div>
    </div>
</div>  

<br><br><br><br>
<nav class="navbar" style="background-color: #b3142c;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo-ujed.png' %}" alt="Bootstrap" width="100" height="60">
      </a>
    </div>
</nav>
<footer class="bottom">
    <div class="legal">
        <span>Universidad Juárez del Estado de Durango | Subsecretaría General Académica</span>
    </div>
</footer>


{% endblock %}