{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Bienvenido {{ user.username }}</h1>
    <br>
    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">PI</h5>
                  <p class="card-text">Dirección de Planeacion Intitucional. Actividades</p>
                  <a href="{% url 'addplan' %}" class="btn btn-primary">Crear Actividad +</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">SE</h5>
                  <p class="card-text">Dirección de Servicios Educativos. Actividades</p>
                  <a href="{% url 'addserv' %}" class="btn btn-primary">Crear Actividad +</a>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DI</h5>
                  <p class="card-text">Dirección de internacionalización. Actividades</p>
                  <a href="{% url 'addint' %}" class="btn btn-primary">Crear Actividad +</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg">
            <div class="card" style="width: 18rem; margin: 1em;">
                <div class="card-body">
                  <h5 class="card-title">DDFA</h5>
                  <p class="card-text">Dirección de Dessarrollo y Fortalecimiento Académico. Actividades</p>
                  <a href="#" class="btn btn-primary">Crear Actividad +</a>
                </div>
            </div>
        </div>
    </div>
</div>  

<br><br>

<footer class="bottom">
    <div class="legal">
        <span>Universidad Juárez del Estado de Durango | Subsecretaria General Académica</span>
    </div>
</footer>


{% endblock %}